[submodule "qir-runner"]
	path = qir_runner
	url = https://github.com/gt-tinker/qir-runner.git
	branch = qwerty
[submodule "qwerty_mlir_sys"]
	path = qwerty_mlir_sys
	url = https://github.com/gt-tinker/qwerty-mlir-sys.git
[submodule "qwerty_melior"]
	path = qwerty_melior
	url = https://github.com/gt-tinker/qwerty-melior.git
[submodule "tblgen_rs"]
	path = tblgen_rs
	url = https://github.com/gt-tinker/tblgen-rs.git
[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
