[submodule "tweedledum"]
	path = tweedledum
	url = https://github.com/gt-tinker/tweedledum.git
	branch = qwerty
[submodule "qir-runner"]
	path = qir_runner
	url = https://github.com/gt-tinker/qir-runner.git
	branch = qwerty
[submodule "qwerty_mlir_sys"]
	path = qwerty_mlir_sys
	url = https://github.com/gt-tinker/qwerty-mlir-sys.git
[submodule "qwerty_melior"]
	path = qwerty_melior
	url = https://github.com/gt-tinker/qwerty-melior.git
[submodule "tblgen_rs"]
	path = tblgen_rs
	url = https://github.com/gt-tinker/tblgen-rs.git
[submodule "qiree"]
	path = qiree
	url = https://github.com/gt-tinker/qiree.git
[submodule "qsim"]
	path = qsim
	url = https://github.com/quantumlib/qsim.git
