# This directory gets too cluttered with debug files, so ignore the following:

# ASTs as graphviz
*.dot
# Rendered qwerty ASTs
*.png
# Dumped Python ASTs
*.pyast
# Tweedledum circuit printouts
tweedledum_*.txt
# Logs from QIR-EE
*.log
